<% provide(:title, "Log In") %>
<!-- Main -->
<article id="main">
	<section class="wrapper style5" style="margin-left:50px; margin-right:50px; margin-top:50px;">
		<div class="inner">

			<section>
				<h4>Log In</h4>
				<% flash.each do |message_type, message| %>
            		<div class="alert alert-<%= message_type %>"><%= message %></div>
        		<% end %>
				<%= form_for(:session, url: login_path) do |f| %>
					<div class="row uniform">
						<div class="12u$">
							<%= f.email_field :email, class: 'form-control', placeholder:"Duke email" %>
						</div>
						<div class="12u$">

							<%= f.password_field :password, class: 'form-control', placeholder:"Password" %>
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><%= f.submit "Log in", class: "special" %></li>
							</ul>
						</div>
					</div>
				<% end %>
				<p> New user? <%= link_to "Sign up now!", signup_path %> </p>

				</form>
			</section>

			

		</div>
	</section>
</article>
