<% provide(:title, "Change Pin") %>

<article id="main">
	<header>
		<h2>Change Pin</h2>
			
		<span id="startchange"></span>
		<section class="wrapper style5" style="margin-left:50px; margin-right:50px; margin-top:50px;">
				<div class="inner">
					<% flash.each do |message_type, message| %>
            		<div class="alert alert-<%= message_type %>"><%= message %></div>
        		<% end %>
					<h4>Enter your pin information</h4>
					<%= form_for @fava_user, url: {action: "submit_new_password"} do |f| %>
					<%= render 'shared/error_messages' %>
					<div class = "row uniform">
						<div class="12u$">
							<%= f.password_field :curr_pin, class: 'form-control', placeholder:"Current pin" %>
						</div>
						<div class="12u$">
							<%= f.password_field :new_pin, class: 'form-control', placeholder:"New pin" %>
						</div>
						<div class="12u$">
							<%= f.password_field :new_pin_confirmation, class: 'form-control', placeholder:"Confirm new pin" %>
						</div>
						<div class="12u$">
							<ul class="actions">
								<%= f.submit "Update Password", class: "special" %>
							</ul>
						</div>
					</div>
					<% end %>
					</form> 
				</div>
		</section>
	</header>
</article>