<% provide(:title, "Change Password") %>

<article id="main">
	<header>
		<h2>Change Password</h2>
			
		<span id="startchange"></span>
		<section class="wrapper style5" style="margin-left:50px; margin-right:50px; margin-top:50px;">
				<div class="inner">
					<h4>Enter your password information</h4>
					<%= form_for(@fava_user) do |f| %>
					<%= render 'shared/error_messages' %>
					<div class = "row uniform">
						<div class="12u$">
							<%= f.password_field :curr_password, class: 'form-control', placeholder:"Current Password" %>
						</div>
						<div class="12u$">
							<%= f.password_field :new_password, class: 'form-control', placeholder:"New Password" %>
						</div>
						<div class="12u$">
							<%= f.password_field :new_password_confirmation, class: 'form-control', placeholder:"Confirm New Password" %>
						</div>
						<div class="12u$">
							<ul class="actions">
								<%= f.submit "Update Password", class: "special" %>
							</ul>
						</div>
					</div>
					<% end %>
					</form> 
				</div>
		</section>
	</header>
</article>