<% provide(:title, "Food Item Profile") %>

<article id="main">
	<header>
		<h2>Food Information</h2>
        
              <span id="startchange"></span>
			<section class="wrapper style5">
					<div class="inner">
                       
						<h3><%=@food_item.food_name %></h3>
                			<p><span class="icon fa-map-marker"></span> <%= @restaurant.name %></p>
                            <% if @food_item.description.length > 0 %>
                			 <p><span class="icon fa-cutlery"> <%= @food_item.description%> </span> </p>
                            <% end %>
                			<% if @allergy_not_empty %>
                				<p><span class="icon fa-exclamation"> <%= @food_item.allergy_info %> </span> </p>
                			<% end %>
                			<% if !@size.nil? %>
                             <p><span class="icon fa-heart-o"> </span>
                                <% @size.each do |f| %>
                				   <%= f.size_descr %> ($<%= f.format_price %>) |
                                <% end %>
                                </p>
                            <% else %>
                			<p><span class="icon fa-usd"> <%= @food_item.format_price() %></span> </p>
                            
                            <% end %>
               			</p>
					</div>
                     <% if @broke_message == true %>
                        <h4 style="color:red;"> You don't have enough Fava points to order this delicious food! </h4>
                        <h4 style="margin-bottom:50px;"><%= link_to "Click here to add more.", deposit_path%> </h4>
                    <% else %>

                        <button class="special" href="#">
                            <%= link_to "Request Order", order_path(food_item: @food_item) %>
                        </button>
                    <% end %>
			</section>
	</header>
</article>