<% provide(:title, "Timeline") %>

<article id="main">
            <header>
              <h2>Timeline</h2>
              <p>Where you can scroll through and accept other users' posts</p>
              <p>
                <% if flash[:info] %>
                    <%= flash[:info] %>
                <% end %>
              </p>
            </header>
            <section class="wrapper style5">

              <div class="inner">
                <% if !@requests.nil? %>
                    <% @requests.each do |r| %>
                        <img src='https://studentaffairs.duke.edu/sites/default/files/u110/Sammi%20.jpg' style="float:left; height:100px; width:100px; border-radius: 50%; margin-right: 20px;" />
                        <h3> <%= r.get_food_name %>, $<%= r.format_float(FoodItem.find_by_id(r.food_item_id).price) %></h3>
                        <p> Deliver to: <a href="#" style="font-weight:bold;"><%= r.get_user_name %></a> at <%= r.location %> </p>
                        <p style="margin-left:120px;"> <span class="icon fa-map-marker"></span> <%= r.get_restaurant_name %>
                        <% if !r.side_id.nil? %>
                            <span class="icon fa-cutlery" style="margin-left:30px;"> Side of <%= Side.find_by_id(r.side_id).options %> </span> 
                        <% end %>
                        <span class="icon fa-usd" style="margin-left:30px;"> <%= r.format_float(r.tip) + " tip" %> </span> 
                        </p>
                        <% if !r.notes.nil? and r.notes.size > 0 %>
                            <p style="margin-left:90px;">  <span class="icon fa-comment-o" style="margin-left:30px;">
                                <%= r.notes %>
                            </span>
                            </p>
                        <% end %>

                        <a href="#" class="button small" style="margin-left:120px; color:rgba(71, 234, 71, 0.9);">Accept</a> <a href="#" class="button small" style="margin-left:20px; color:rgba(228, 31, 31, 0.9);">Hide</a>

                        <hr />
                    <% end %>
                <% end %>
                

                <img src='https://i.kinja-img.com/gawker-media/image/upload/s--d5wiqdLl--/17ggckjuosiw0jpg.jpg' style="float:left; height:100px; width:100px; border-radius: 50%; margin-right: 20px;" />
                <h3>Vegetarian Ramen</h3>
                <p> Deliver to: <a href="#" style="font-weight:bold;">Mike Krzyzewski</a> at Cameron Indoor Stadium </p>
                <p style="margin-left:120px;"> <span class="icon fa-map-marker"></span> Ginger & Soy 
                <span class="icon fa-comment-o" style="margin-left:30px;"> Ask for extra sriracha sauce </span> 
                <span class="icon fa-usd" style="margin-left:30px;"> 7.25 tip </span> 
                </p>

                <a href="#" class="button small" style="margin-left:120px; color:rgba(71, 234, 71, 0.9);">Accept</a> <a href="#" class="button small" style="margin-left:20px; color:rgba(228, 31, 31, 0.9);">Hide</a>

                <hr />
                <img src='https://s-media-cache-ak0.pinimg.com/originals/5d/27/e2/5d27e21704888fbce78d4ed4758af634.jpg' style="float:left; height:100px; width:100px; border-radius: 50%; margin-right: 20px;" />
                <h3>Iced vanilla latte</h3>
                <p> Deliver to: <a href="#" style="font-weight:bold;">Duke Blue Devil</a> at K-Ville </p>
                <p style="margin-left:120px;"> <span class="icon fa-map-marker"></span> Joe Van Gogh 
                <span class="icon fa-plus" style="margin-left:30px;"> Extra shot of espresso </span> 
                <span class="icon fa-usd" style="margin-left:30px;"> 3.75 tip </span> 
                </p>

                <a href="#" class="button small" style="margin-left:120px; color:rgba(71, 234, 71, 0.9);">Accept</a> <a href="#" class="button small" style="margin-left:20px; color:rgba(228, 31, 31, 0.9);">Hide</a>

                <hr />

              </div>
            </section>
          </article>
