<% provide(:title, "My Deliveries") %>

<article id="main">
            <header>
              <h2>My Deliveries</h2>
              <p>View all of your active and completed deliveries</p>
              
              <span id="startchange"></span>
            </header>
            <section class="wrapper style5">

              <div class="inner">
                <% if !@requests.nil? %>
                    <% @requests.each do |r| %>
                        <%if r.status == 1 %>
                            <div class="ineer" style="background-color:rgba(255, 0, 0, 0.45); padding:10px 10px 10px 10px;">
                        <% else %>
                             <div style="background-color:rgba(29, 255, 0, 0.45); padding-top:20px; padding-bottom:20px; padding-left:10px; padding-right:10px;">
                        <% end %>
                            <img src='https://studentaffairs.duke.edu/sites/default/files/u110/Sammi%20.jpg' style="float:left; height:100px; width:100px; border-radius: 50%; margin-right: 20px;" />
                            <h3> <%= r.get_food_name %>, $<%= r.format_float(r.get_food_price) %></h3>
                            <p> Deliver to: <a href="#" style="font-weight:bold;"><%= r.get_user_name %></a> at <%= r.location %> </p>
                            <p style="margin-left:120px;"> <span class="icon fa-map-marker"></span> <%= r.get_restaurant_name %>
                            <% if !r.side_id.nil? %>
                                <span class="icon fa-cutlery" style="margin-left:30px;"> <%= Side.find_by_id(r.side_id).options %> </span> 
                            <% end %>
                            <span class="icon fa-usd" style="margin-left:30px;"> <%= r.format_float(r.tip) + " tip" %> </span> 
                          
                            <% if !r.notes.nil? and r.notes.size > 0 %>
                              <span class="icon fa-comment-o" style="margin-left:30px;">
                                    <%= r.notes %>
                                </span>
                        <% end %>
                        </p>

                        <%if r.status == 1 %>
                            <%= button_to "Complete delivery", complete_delivery_path, method: :get, params: {request: r.id}, :class => "button small", :style => "margin-left:120px;" %>
                        <% end %>
                        </div>
                        <hr />

                    <% end %>
                <% end %>
                

                

              </div>
            </section>
          </article>
