<% provide(:title, "My Request History") %>

<article id="main">
            <header>
              <h2>My Request History</h2>
              <p>View all of your previous completed requests</p>
            </header>
            <section class="wrapper style5">

              <div class="inner">
                <% if !@requests.nil? %>
                    <% @requests.each do |r| %>
                        <img src='https://studentaffairs.duke.edu/sites/default/files/u110/Sammi%20.jpg' style="float:left; height:100px; width:100px; border-radius: 50%; margin-right: 20px;" />
                        <h3> <%= r.get_food_name %>, $<%= r.format_float(r.get_food_price) %></h3>
                        <p> Deliver to: <a href="#" style="font-weight:bold;"><%= r.get_user_name %></a> at <%= r.location %> </p>
                        <p style="margin-left:120px;"> <span class="icon fa-map-marker"></span> <%= r.get_restaurant_name %>
                        <% if !r.side_id.nil? %>
                            <span class="icon fa-cutlery" style="margin-left:30px;"> <%= Side.find_by_id(r.side_id).options %> </span> 
                        <% end %>
                        <span class="icon fa-usd" style="margin-left:30px;"> <%= r.format_float(r.tip) + " tip" %> </span> 
                        </p>
                        <% if !r.notes.nil? and r.notes.size > 0 %>
                            <p style="margin-left:90px;">  <span class="icon fa-comment-o" style="margin-left:30px;">
                                <%= r.notes %>
                            </span>
                            </p>
                        <% end %>

                        <hr />
                    <% end %>
                <% end %>
                

                

              </div>
            </section>
          </article>
