<% provide(:title, "Timeline") %>
<article id="main">
	<header>
		<h2>Request Delivery</h2>
		<p>Where you can post a delivery request for others to see</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			<%= form_for(@request) do |f| %>
					<div class="row uniform">
						<h4> What are you hungry for? </h4>
						<div class="12u$">
							<%= f.collection_select :id, Restaurant.order(:name), :id, :name %>
						</div>
						<div class="12u$">
							<%= f.collection_select :id, FoodItem.order(:food_name), :id, :food_name %>
						</div>
						<div class="12u$">
							<%= f.text_field :notes, class: 'form-control', placeholder:"Add ons? Sides? Notes?" %>
						</div>
						<div class="12u$">
							<%= f.text_field :tip, class: 'form-control', placeholder:"Tip $ amount" %>
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><%= f.submit "Request", class: "special" %>
							</ul>
						</div>
					</div>
				<% end %>

		</div>
	</section>
</article>