<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @fava_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @fava_user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fava_user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @fava_user.phone %>
</p>

<%= link_to 'Edit', edit_fava_user_path(@fava_user) %> |
<%= link_to 'Back', fava_users_path %>
