<% provide(:title, "Food Item Profile") %>

<article id="main">
	<header>
		<h2>Food Information </h2>
			<section class="wrapper style5">
					<div class="inner">
						<h3><%=@food_item.food_name %></h3>
                			<p><span class="icon fa-map-marker"></span> <%= @restaurant.name %></p>
                			<p><span class="icon fa-cutlery"> <%= @food_item.description%> </span> </p>
                			<% if @allergy_not_empty %>
                				<p><span class="icon fa-exclamation"> <%= @food_item.allergy_info %> </span> </p>
                			<% end %>
                			<% if @size_not_empty %>
                				<p><span class="icon fa-heart-o"> <%= @food_item.size %> </span> </p>
                			<% end %>
                			<p><span class="icon fa-usd"> <%= @food_item.price %></span> </p>
               			</p>
					</div>
					<button href="#" class="special">Request Order</button>
			</section>
	</header>
</article>