<head>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<header id="header" class="alt">
    <h1><a href="index.html">Fava</a></h1>
    <nav id="nav" style="width:100%; ">
      <ul>
        <li style="font-size:16px;margin-left:20px;"> <span class="glyphicon glyphicon-certificate" aria-hidden="true"> </span> <%= @fava_user.format_points() %> Fava points</li>
        <li class="special" style="float:right;">
          <a href="#menu" class="menuToggle"><span>Menu</span></a>
          <div id="menu">
            <ul>
              <li><%= link_to "Home Page", root_path %></li>
              <li><%= link_to "Current Requests", '\timeline' %> </li>
              <li><%= link_to "Completed Deliveries", '\completed' %> </li>

              <li> ---------------------------------------- </li>
              <li><%= link_to "My Active Requests", '\my_requests' %> </li>
              <li><%= link_to "My Request History", '\my_history' %> </li>
              <li><%= link_to "My Deliveries", '\my_deliveries' %> </li>
              <li> ---------------------------------------- </li>
              <li><%= link_to "Request Delivery", '\list' %></li>
              <li><%= link_to "Search By Category", '\filter' %> </li>
              <li> ---------------------------------------- </li>
	            <li><%= link_to "Profile", '\profile' %></li>
              <li><%= link_to "Deposit", '\deposit' %> </li>
              <li> ---------------------------------------- </li>
              <li><%= link_to "Log out", logout_path %></li>
            </ul>
          </div>
        </li>

      </ul>
    </nav>
    <script>
      $(document).ready(function(){       
         var scroll_start = 0;
         var startchange = $('#startchange');
         var offset = startchange.offset();
          if (startchange.length){
         $(document).scroll(function() { 
            scroll_start = $(this).scrollTop();
            if(scroll_start > offset.top) {
                $("#nav").css('background-color', '#21b2a6');
             } else {
                $('#nav').css('background-color', 'transparent');
             }
         });
          }
      });
    </script>
</header>
