<!DOCTYPE html>
<html>
  <head>
  	 <title><%= yield(:title) %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'jquery','data-turbolinks-track': 'reload' %>
    <link rel="stytlesheet" href="/css/font-awesome.min.css">
  </head>


  <body>
  	<div id="page-wrapper" style="margin-top:-60px;">
	  	<%= render 'layouts/header' %>
	  	
	   	<%= yield %>
   	</div>
    <%= render 'layouts/footer' %>
  </body>
</html>
